body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ffa7b4, #a7e5fa, #fab8fa, #f7f7a2, #8eff8e);
    background-size: cover;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }

.logo-container img {
    height: 200px;
    width: auto;
    border-radius: 50%;
}

.logo-container h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}

button {
    height: 70px;
    width: auto;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.carousel-container {
    margin: auto;
    padding: 20px;
}

.carousel-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(184, 182, 182, 0);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    z-index: 10;
}

.carousel-btn.left {
    left: 10px;
}

.carousel-btn.right {
    right: 10px;
}

.carousel-track img {
    width: 30%;
    height: 300px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 10px;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
    margin-left: 30px;
    margin-right: 30px;
}

.carousel-track img.active {
    transform: scale(1.2);
    z-index: 10;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: linear-gradient(135deg, rgba(255, 167, 180, 0.53), rgba(167, 229, 250, 0.47), rgba(250, 184, 250, 0.47), rgba(247, 247, 162, 0.46), rgba(142, 255, 142, 0.41));
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    position: relative;
}

.form-group {
    margin-bottom: 15px;    
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}